<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>FacesServlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
        <init-param>
            <description>Multiple packages, separated by semicolon(;), can be specified in param-value</description>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>controller.service</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>FacesServlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/webresources/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <description>header and footer settings</description>
            <url-pattern>/WEB-INF/jsp/view/*</url-pattern>
            <url-pattern>/WEB-INF/jsp/propcentre.jsp</url-pattern>
            <url-pattern>/WEB-INF/jsp/pswdforgotten.jsp</url-pattern>
            <url-pattern>/WEB-INF/jsp/afficheroffres.jsp</url-pattern>
            <url-pattern>/WEB-INF/jsp/index.jsp</url-pattern>
            <url-pattern>/WEB-INF/jsp/comment.jsp</url-pattern>
             <url-pattern>/WEB-INF/jsp/map.jsp</url-pattern>
            <url-pattern>/WEB-INF/jsp/recherchecentre.jsp</url-pattern>
            <url-pattern>/WEB-INF/jsp/statistique.jsp</url-pattern>
            <url-pattern>/WEB-INF/jsp/lireblog.jsp</url-pattern>
            <include-prelude>/WEB-INF/jsp/view/header.jsp</include-prelude>
            <include-coda>/WEB-INF/jsp/view/footer.jsp</include-coda>  

        </jsp-property-group>
    </jsp-config>
</web-app>
