/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 mars 2016, 19:21:13
    Author     : Youssef
*/


body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1400px;
    text-align: center;
    margin: 20px auto;
}
#header {
    height: 300px;
    background-image: url("https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xfp1/v/t35.0-12/12903503_10207557307868643_544919314_o.jpg?oh=e3fd9aa87d6c6c80fbd60efee639f4da&oe=56F74EC8");
    background-repeat: no-repeat;
  
    
}

#footer {
    height: 150px;
    background-image: url("https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xfp1/v/t35.0-12/12903503_10207557307868643_544919314_o.jpg?oh=e3fd9aa87d6c6c80fbd60efee639f4da&oe=56F74EC8");
    background-repeat: no-repeat;
    clear: left;
    
}

#indexLeftColumn {
    height: 1920px;
    width: 400px;
    float: left;
    
}

#indexRightColumn {
    height: 1920px;
    width: 1000px;
    float: left;
    
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #0066ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 50%;
  float: left;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 1s;
}

.button:hover span {
  padding-right: 25px;
  
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}